
btp-context/.DS_Store
btp-context/runtime-context/.DS_Store
btp-context/runtime-context/modules/.DS_Store
btp-context/runtime-context/modules/sap-kyma-runtime/kyma_cluster/.DS_Store
btp-context/runtime-context/modules/sap-kyma-runtime/kyma_cluster/.terraform.lock.hcl
btp-context/runtime-context/modules/sap-kyma-runtime/kyma_cluster/btp-trial.tfvars
btp-context/runtime-context/modules/sap-kyma-runtime/.DS_Store
btp-context/provider-context/modules/.DS_Store
btp-context/runtime-context/modules/sap-kyma-runtime/kyma_cluster/.5eb44f70-44fc-48d7-8edc-ca8aa12e7464-quovadis-kyma.kubeconfig
btp-context/provider-context/.DS_Store
btp-context/provider-context/modules/sap-hana-cloud/hc_instance/subaccount_id.txt
btp-context/runtime-context/modules/custom-idp.sav/bootstrap-custom-idp.tf
btp-context/runtime-context/modules/custom-idp.sav/free-trial-kymaruntime-quota.sh
btp-context/runtime-context/modules/custom-idp.sav/free-trial-kymaruntime-quota.tf
btp-context/runtime-context/modules/custom-idp.sav/provider.tf
btp-context/runtime-context/modules/custom-idp.sav/variables.tf
.DS_Store
